Repository Team-BomBomBom/Server, pull requests merged in 2024-06, with the labels that each got.

#5 Feat: #2 유저 Entity 작성
  build.gradle
  src/main/java/com/bombombom/devs/global/audit/BaseEntity.java
  src/main/java/com/bombombom/devs/global/audit/config/JpaConfiguration.java
  src/main/java/com/bombombom/devs/user/models/User.java
Labels: ✨Feat

#8 Feat: #6 회원가입 API 구현
  src/main/java/com/bombombom/devs/global/config/PasswordEncoderConfig.java
  src/main/java/com/bombombom/devs/global/exception/ErrorResponse.java
  src/main/java/com/bombombom/devs/global/exception/GlobalExceptionHandler.java
  src/main/java/com/bombombom/devs/user/UserRepository.java
  src/main/java/com/bombombom/devs/user/controller/UserController.java
  src/main/java/com/bombombom/devs/user/controller/dto/SignupRequest.java
  src/main/java/com/bombombom/devs/user/exception/ExistUsernameException.java
  src/main/java/com/bombombom/devs/user/service/UserService.java
  src/main/java/com/bombombom/devs/user/service/dto/SignupCommand.java
  src/test/java/com/bombombom/devs/DevsApplicationTests.java
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest.java
Labels: ✨Feat

#10 Feat: #7 로그인 기능 구현
  .gitignore
  build.gradle
  src/main/java/com/bombombom/devs/auth/controller/AuthController.java
  src/main/java/com/bombombom/devs/auth/controller/dto/AuthenticationResponse.java
  src/main/java/com/bombombom/devs/auth/controller/dto/SigninRequest.java
  src/main/java/com/bombombom/devs/auth/service/AuthService.java
  src/main/java/com/bombombom/devs/auth/service/dto/AuthenticationResult.java
  src/main/java/com/bombombom/devs/global/security/CustomUserDetailService.java
  src/main/java/com/bombombom/devs/global/security/JwtAuthenticationFilter.java
  src/main/java/com/bombombom/devs/global/security/JwtUtils.java
  src/main/java/com/bombombom/devs/global/security/config/PasswordConfig.java
  src/main/java/com/bombombom/devs/global/security/config/SecurityConfig.java
  src/main/java/com/bombombom/devs/global/util/Clock.java
  src/main/java/com/bombombom/devs/global/util/SystemClock.java
  src/main/java/com/bombombom/devs/user/controller/UserController.java
  src/main/java/com/bombombom/devs/user/controller/dto/UserProfileResponse.java
  src/main/java/com/bombombom/devs/user/models/Role.java
  src/main/java/com/bombombom/devs/user/models/User.java
  src/main/java/com/bombombom/devs/user/repository/UserRepository.java
  src/main/java/com/bombombom/devs/user/service/UserService.java
  src/main/java/com/bombombom/devs/user/service/dto/UserProfileResult.java
  src/main/resources/application.yml
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest.java
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest2.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest2.java
Labels: ✨Feat, ✅Test

#9 Feat: #4 스터디 목록 조회
  src/main/java/com/bombombom/devs/DevsApplication.java
  src/main/java/com/bombombom/devs/global/audit/BaseEntity.java
  src/main/java/com/bombombom/devs/study/controller/StudyController.java
  src/main/java/com/bombombom/devs/study/controller/dto/request/RegisterAlgorithmStudyRequest.java
  src/main/java/com/bombombom/devs/study/controller/dto/request/RegisterBookStudyRequest.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/AlgorithmStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/BookStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/StudyResponse.java
  src/main/java/com/bombombom/devs/study/models/AlgorithmStudy.java
  src/main/java/com/bombombom/devs/study/models/BookStudy.java
  src/main/java/com/bombombom/devs/study/models/Study.java
  src/main/java/com/bombombom/devs/study/models/StudyStatus.java
  src/main/java/com/bombombom/devs/study/models/StudyType.java
  src/main/java/com/bombombom/devs/study/repository/AlgorithmStudyRepository.java
  src/main/java/com/bombombom/devs/study/repository/BookStudyRepository.java
  src/main/java/com/bombombom/devs/study/repository/StudyRepository.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/main/java/com/bombombom/devs/study/service/dto/command/RegisterAlgorithmStudyCommand.java
  src/main/java/com/bombombom/devs/study/service/dto/command/RegisterBookStudyCommand.java
  src/main/java/com/bombombom/devs/study/service/dto/result/AlgorithmStudyResult.java
  src/main/java/com/bombombom/devs/study/service/dto/result/BookStudyResult.java
  src/main/java/com/bombombom/devs/study/service/dto/result/StudyResult.java
  src/main/java/com/bombombom/devs/user/models/User.java
  src/main/resources/application.yml
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
Labels: ✨Feat, ✅Test

#12 Fix: #11 JWT해석 과정에서 빈 JWT 무시
  src/main/java/com/bombombom/devs/auth/controller/dto/AuthenticationResponse.java
  src/main/java/com/bombombom/devs/global/security/JwtAuthenticationFilter.java
Labels: ⚡️Fix

#13 Fix: #4 import 버그 수정
  src/main/java/com/bombombom/devs/study/models/Study.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
Labels: ⚡️Fix

#14 ⚙️Build: CI by Github Action
  .github/workflows/gradle.yml
Labels: ⚙️Build

#20 Feat: #19 스터디 목록 조회 API 수정
  src/main/java/com/bombombom/devs/study/controller/StudyController.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/AlgorithmStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/BookStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/StudyPageResponse.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
Labels: ✨Feat, ✅Test

#23 Feat: #17 UserStudy 엔티티 작성 및 스터디 회원가입 기능 구현, #22 Controller에서 UserDetails를 주입 받을 수 있도록 구현
  src/main/java/com/bombombom/devs/global/security/AppUserDetails.java
  src/main/java/com/bombombom/devs/global/security/AppUserDetailsService.java
  src/main/java/com/bombombom/devs/global/security/JwtAuthenticationFilter.java
  src/main/java/com/bombombom/devs/global/security/config/SecurityConfig.java
  src/main/java/com/bombombom/devs/global/web/LoginUser.java
  src/main/java/com/bombombom/devs/global/web/LoginUserArgumentResolver.java
  src/main/java/com/bombombom/devs/global/web/config/WebConfig.java
  src/main/java/com/bombombom/devs/study/controller/StudyController.java
  src/main/java/com/bombombom/devs/study/controller/dto/request/JoinStudyRequest.java
  src/main/java/com/bombombom/devs/study/models/BookStudy.java
  src/main/java/com/bombombom/devs/study/models/Study.java
  src/main/java/com/bombombom/devs/study/models/UserStudy.java
  src/main/java/com/bombombom/devs/study/repository/UserStudyRepository.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/main/java/com/bombombom/devs/study/service/dto/command/JoinStudyCommand.java
  src/main/java/com/bombombom/devs/user/controller/UserController.java
  src/main/java/com/bombombom/devs/user/models/User.java
  src/main/java/com/bombombom/devs/user/service/UserService.java
  src/test/java/com/bombombom/devs/config/TestUserDetailsServiceConfig.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/domain/StudyTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest.java
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest2.java
  src/test/java/com/bombombom/devs/user/domain/UserTest.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest2.java
Labels: ✨Feat, ✅Test

#25 Feat: #16 스터디 생성 API 구현
  src/main/java/com/bombombom/devs/global/exception/DetailedErrorResponse.java
  src/main/java/com/bombombom/devs/global/exception/GlobalExceptionHandler.java
  src/main/java/com/bombombom/devs/study/Constants.java
  src/main/java/com/bombombom/devs/study/controller/StudyController.java
  src/main/java/com/bombombom/devs/study/controller/dto/request/RegisterAlgorithmStudyRequest.java
  src/main/java/com/bombombom/devs/study/controller/dto/request/RegisterBookStudyRequest.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/AlgorithmStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/BookStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/StudyResponse.java
  src/main/java/com/bombombom/devs/study/models/AlgorithmStudy.java
  src/main/java/com/bombombom/devs/study/models/BookStudy.java
  src/main/java/com/bombombom/devs/study/models/Study.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/main/java/com/bombombom/devs/study/service/dto/command/RegisterAlgorithmStudyCommand.java
  src/main/java/com/bombombom/devs/study/service/dto/command/RegisterBookStudyCommand.java
  src/main/java/com/bombombom/devs/study/service/dto/command/RegisterStudyCommand.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest.java
Labels: ✨Feat, ✅Test

#26 Feat: #15 기술 서적 검색 API 구현
  .github/workflows/gradle.yml
  build.gradle
  src/main/java/com/bombombom/devs/book/controller/BookController.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookAddRequest.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookInfo.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookListRequest.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookListResponse.java
  src/main/java/com/bombombom/devs/book/enums/SearchOption.java
  src/main/java/com/bombombom/devs/book/models/Book.java
  src/main/java/com/bombombom/devs/book/naverapi/NaverClient.java
  src/main/java/com/bombombom/devs/book/naverapi/enums/SortType.java
  src/main/java/com/bombombom/devs/book/naverapi/exception/ExternalApiException.java
  src/main/java/com/bombombom/devs/book/repository/BookBulkRepository.java
  src/main/java/com/bombombom/devs/book/repository/BookRepository.java
  src/main/java/com/bombombom/devs/book/service/BookService.java
  src/main/java/com/bombombom/devs/book/service/dto/AddBookCommand.java
  src/main/java/com/bombombom/devs/book/service/dto/NaverBookApiQuery.java
  src/main/java/com/bombombom/devs/book/service/dto/NaverBookApiResult.java
  src/main/java/com/bombombom/devs/book/service/dto/SearchBookQuery.java
  src/main/java/com/bombombom/devs/book/service/dto/SearchBooksResult.java
  src/main/java/com/bombombom/devs/global/exception/GlobalExceptionHandler.java
  src/main/java/com/bombombom/devs/global/security/config/SecurityConfig.java
  src/main/java/com/bombombom/devs/global/util/converter/MultiValueMapConverter.java
  src/main/resources/application.yml
  src/main/resources/data.sql
  src/test/java/com/bombombom/devs/book/BookIntegrationTest.java
  src/test/java/com/bombombom/devs/book/controller/BookControllerTest.java
  src/test/java/com/bombombom/devs/book/naverapi/NaverClientTest.java
  src/test/java/com/bombombom/devs/book/service/BookServiceTest.java
  src/test/java/com/bombombom/devs/user/controller/UserControllerTest.java
  src/test/java/com/bombombom/devs/user/service/UserServiceTest.java
Labels: ✨Feat, ✅Test

#27 Feat: #BBB-21 커밋에 티켓 넘버 자동 포함
  .github/hooks/prepare-commit-msg
  .github/pull_request_template.md
Labels: ✨Feat
