Repository Team-BomBomBom/Server, pull requests merged in 2024-07, with the labels that each got.

#30 Feat: #BBB-72 서적 조회 API 전반적으로 수정
  src/main/java/com/bombombom/devs/book/controller/dto/BookInfo.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookListResponse.java
  src/main/java/com/bombombom/devs/book/models/Book.java
  src/main/java/com/bombombom/devs/book/naverapi/enums/SortType.java
  src/main/java/com/bombombom/devs/book/repository/BookBulkRepository.java
  src/main/java/com/bombombom/devs/book/service/BookService.java
  src/main/java/com/bombombom/devs/book/service/dto/AddBookCommand.java
  src/main/java/com/bombombom/devs/book/service/dto/NaverBookApiQuery.java
  src/main/java/com/bombombom/devs/book/service/dto/NaverBookApiResult.java
  src/main/java/com/bombombom/devs/book/service/dto/SearchBooksResult.java
  src/main/java/com/bombombom/devs/client/naver/NaverClient.java
  src/main/java/com/bombombom/devs/client/naver/enums/SortType.java
  src/main/java/com/bombombom/devs/client/naver/exception/ExternalApiException.java
  src/main/java/com/bombombom/devs/global/exception/GlobalExceptionHandler.java
  src/test/java/com/bombombom/devs/book/BookIntegrationTest.java
  src/test/java/com/bombombom/devs/book/controller/BookControllerTest.java
  src/test/java/com/bombombom/devs/book/naverapi/NaverClientTest.java
  src/test/java/com/bombombom/devs/book/service/BookServiceTest.java
Labels: ✨Feat, ⚡️Fix

#29 Feat: #BBB-75 ISBN을 넘겨받아 기술서적 스터디 생성
  .github/hooks/prepare-commit-msg
  src/main/java/com/bombombom/devs/book/repository/BookRepository.java
  src/main/java/com/bombombom/devs/global/exception/GlobalExceptionHandler.java
  src/main/java/com/bombombom/devs/study/controller/dto/request/RegisterBookStudyRequest.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/BookStudyResponse.java
  src/main/java/com/bombombom/devs/study/exception/NotFoundException.java
  src/main/java/com/bombombom/devs/study/models/BookStudy.java
  src/main/java/com/bombombom/devs/study/models/Study.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/main/java/com/bombombom/devs/study/service/dto/command/RegisterBookStudyCommand.java
  src/main/java/com/bombombom/devs/study/service/dto/result/BookStudyResult.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
Labels: ✨Feat, 🧹Chore

#31 Feat: #BBB-73 스터디 정보 반환 시 방장 및 책정보 포함
  src/main/java/com/bombombom/devs/book/controller/dto/BookInfo.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookListResponse.java
  src/main/java/com/bombombom/devs/global/exception/GlobalExceptionHandler.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/AlgorithmStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/BookStudyResponse.java
  src/main/java/com/bombombom/devs/study/controller/dto/response/StudyResponse.java
  src/main/java/com/bombombom/devs/study/repository/StudyRepository.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/main/java/com/bombombom/devs/study/service/dto/result/AlgorithmStudyResult.java
  src/main/java/com/bombombom/devs/study/service/dto/result/BookStudyResult.java
  src/main/java/com/bombombom/devs/study/service/dto/result/StudyResult.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
  src/test/java/com/bombombom/devs/study/controller/StudyControllerTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
Labels: ✨Feat, ✅Test

#33 Feat: #BBB-4 선정한 알고리즘 문제를 Round에 배정
  .gitmessage.txt
  build.gradle
  src/main/java/com/bombombom/devs/algo/config/ProbabilityConfig.java
  src/main/java/com/bombombom/devs/algo/models/AlgoTag.java
  src/main/java/com/bombombom/devs/algo/models/AlgorithmProblem.java
  src/main/java/com/bombombom/devs/algo/models/AlgorithmProblemConverter.java
  src/main/java/com/bombombom/devs/algo/repository/AlgorithmProblemRepository.java
  src/main/java/com/bombombom/devs/algo/service/AlgoProblemService.java
  src/main/java/com/bombombom/devs/algo/service/AlgorithmProblemService.java
  src/main/java/com/bombombom/devs/client/solvedac/SolvedacClient.java
  src/main/java/com/bombombom/devs/client/solvedac/dto/ProblemResponse.java
  src/main/java/com/bombombom/devs/client/solvedac/dto/ProblemTag.java
  src/main/java/com/bombombom/devs/global/util/Clock.java
  src/main/java/com/bombombom/devs/global/util/SystemClock.java
  src/main/java/com/bombombom/devs/job/QuartzJobScheduler.java
  src/main/java/com/bombombom/devs/job/RoundStartJob.java
  src/main/java/com/bombombom/devs/study/controller/StudyController.java
  src/main/java/com/bombombom/devs/study/models/AlgorithmProblemAssignment.java
  src/main/java/com/bombombom/devs/study/models/AlgorithmProblemAssignmentSolveHistory.java
  src/main/java/com/bombombom/devs/study/models/AlgorithmStudy.java
  src/main/java/com/bombombom/devs/study/models/Episode.java
  src/main/java/com/bombombom/devs/study/models/Round.java
  src/main/java/com/bombombom/devs/study/models/Study.java
  src/main/java/com/bombombom/devs/study/repository/AlgorithmProblemAssignmentRepository.java
  src/main/java/com/bombombom/devs/study/repository/RoundRepository.java
  src/main/java/com/bombombom/devs/study/service/StudyService.java
  src/test/java/com/bombombom/devs/study/domain/StudyTest.java
  src/test/java/com/bombombom/devs/study/service/StudyServiceTest.java
Labels: ✨Feat

#34 Feat: #BBB-76 Elastic search를 활용한 서적 검색
  .github/workflows/gradle.yml
  build.gradle
  src/main/java/com/bombombom/devs/book/controller/BookController.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookAddRequest.java
  src/main/java/com/bombombom/devs/book/controller/dto/BookIndexRequest.java
  src/main/java/com/bombombom/devs/book/exception/BookNotFoundException.java
  src/main/java/com/bombombom/devs/book/models/Book.java
  src/main/java/com/bombombom/devs/book/models/BookDocument.java
  src/main/java/com/bombombom/devs/book/repository/BookElasticsearchCustomRepository.java
  src/main/java/com/bombombom/devs/book/repository/BookElasticsearchRepository.java
  src/main/java/com/bombombom/devs/book/repository/BookRepository.java
  src/main/java/com/bombombom/devs/book/service/BookService.java
  src/main/java/com/bombombom/devs/book/service/dto/AddBookCommand.java
  src/main/java/com/bombombom/devs/book/service/dto/IndexBookCommand.java
  src/main/java/com/bombombom/devs/book/service/dto/NaverBookApiQuery.java
  src/main/java/com/bombombom/devs/book/service/dto/NaverBookApiResult.java
  src/main/java/com/bombombom/devs/book/service/dto/SearchBooksResult.java
  src/main/java/com/bombombom/devs/global/elasticsearch/config/ElasticsearchConfig.java
  src/main/resources/application.yml
  src/test/java/com/bombombom/devs/book/BookIntegrationTest.java
  src/test/java/com/bombombom/devs/book/controller/BookControllerTest.java
  src/test/java/com/bombombom/devs/book/service/BookServiceTest.java
  src/test/java/com/bombombom/devs/config/ElasticsearchTestConfig.java
  src/test/java/com/bombombom/devs/study/StudyIntegrationTest.java
Labels: ✨Feat

#36 Test: #BBB-4 AlgorithmProblem 선택 및 배정 테스트
  src/main/java/com/bombombom/devs/algo/config/ProbabilityConfig.java
  src/main/java/com/bombombom/devs/algo/service/AlgorithmProblemService.java
  src/main/java/com/bombombom/devs/study/models/Round.java
  src/test/java/com/bombombom/devs/algo/models/AlgorithmProblemTest.java
  src/test/java/com/bombombom/devs/algo/service/AlgorithmProblemServiceTest.java
  src/test/java/com/bombombom/devs/study/domain/AlgorithmProblemAssignmentSolveHistoryTest.java
  src/test/java/com/bombombom/devs/study/domain/AlgorithmProblemAssignmentTest.java
  src/test/java/com/bombombom/devs/study/domain/RoundTest.java
Labels: ✅Test

#39 Build: #BBB-83 CI 시 전체 모듈 빌드
  .github/workflows/gradle.yml
  build.gradle
Labels: ⚙️Build

#42 Build: #BBB-92 support:solvedac-client 모듈 분리 및 QuartzJob 부분을 application 모듈로 이전
  app/external-api/build.gradle
  app/external-api/src/main/java/com/bombombom/devs/job/AlgorithmProblemConverter.java
  app/external-api/src/main/java/com/bombombom/devs/job/QuartzJobScheduler.java
  app/external-api/src/main/java/com/bombombom/devs/job/RoundStartJob.java
  domain/integrated/build.gradle
  domain/integrated/src/main/java/com/bombombom/devs/algo/service/AlgorithmProblemService.java
  domain/integrated/src/main/java/com/bombombom/devs/client/solvedac/ProblemSearchParam.java
  domain/integrated/src/main/java/com/bombombom/devs/study/service/StudyService.java
  settings.gradle
  support/settings.gradle
  support/solvedac-client/build.gradle
  support/solvedac-client/src/main/java/com/bombombom/devs/solvedac/SolvedacClient.java
  support/solvedac-client/src/main/java/com/bombombom/devs/solvedac/dto/ProblemListResponse.java
  support/solvedac-client/src/main/java/com/bombombom/devs/solvedac/dto/ProblemResponse.java
  support/solvedac-client/src/main/java/com/bombombom/devs/solvedac/dto/ProblemTag.java
Labels: ⚙️Build

#43 Build: #BBB-110 서적 domain 계층에서 JPA 의존성을 가지도록 구성
  app/external-api/build.gradle
  app/external-api/src/main/java/com/bombombom/devs/external/book/service/BookService.java
  app/external-api/src/main/java/com/bombombom/devs/external/book/service/dto/IndexBookCommand.java
  app/external-api/src/main/java/com/bombombom/devs/external/book/service/dto/SearchBooksResult.java
  app/external-api/src/test/java/com/bombombom/devs/external/book/BookIntegrationTest.java
  app/external-api/src/test/java/com/bombombom/devs/external/book/service/BookServiceTest.java
  app/external-api/src/test/java/com/bombombom/devs/external/config/ElasticsearchTestConfig.java
  domain/build.gradle
  domain/integrated/src/main/java/com/bombombom/devs/book/models/Book.java
  domain/src/main/java/com/bombombom/devs/book/model/Book.java
  domain/src/main/java/com/bombombom/devs/book/model/BookDocument.java
  domain/src/main/java/com/bombombom/devs/book/model/vo/BookInfo.java
  domain/src/main/java/com/bombombom/devs/book/repository/BookElasticsearchCustomRepository.java
  domain/src/main/java/com/bombombom/devs/book/repository/BookElasticsearchRepository.java
  domain/src/main/java/com/bombombom/devs/book/repository/BookRepository.java
  domain/src/main/java/com/bombombom/devs/config/ElasticsearchConfig.java
  infra/common/build.gradle
  infra/common/src/main/java/com/bombombom/devs/book/repository/BookRepositoryImpl.java
  infra/elasticsearch/build.gradle
  infra/mysql/build.gradle
  infra/mysql/src/main/java/com/bombombom/devs/model/BookEntity.java
  infra/mysql/src/main/java/com/bombombom/devs/repository/BookJpaRepository.java
  settings.gradle
Labels: ⚙️Build

#45 Build: #BBB-108 알고리즘 도메인 계층 분리
  app/external-api/src/main/java/com/bombombom/devs/external/algo/config/ProbabilityConfig.java
  app/external-api/src/main/java/com/bombombom/devs/external/algo/service/AlgorithmProblemService.java
  app/external-api/src/main/java/com/bombombom/devs/external/global/exception/GlobalExceptionHandler.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/StudyService.java
  app/external-api/src/main/java/com/bombombom/devs/job/AlgorithmProblemConverter.java
  app/external-api/src/main/java/com/bombombom/devs/job/RoundStartJob.java
  app/external-api/src/test/java/com/bombombom/devs/external/algo/model/AlgorithmProblemTest.java
  app/external-api/src/test/java/com/bombombom/devs/external/algo/service/AlgorithmProblemServiceTest.java
  domain/build.gradle
  domain/integrated/src/main/java/com/bombombom/devs/client/naver/exception/ExternalApiException.java
  domain/src/main/java/com/bombombom/devs/algo/model/AlgoTag.java
  domain/src/main/java/com/bombombom/devs/algo/model/AlgorithmProblem.java
  domain/src/main/java/com/bombombom/devs/algo/repository/AlgorithmProblemRepository.java
  domain/src/main/java/com/bombombom/devs/book/model/Book.java
  domain/src/main/java/com/bombombom/devs/common/BaseEntity.java
  domain/src/main/java/com/bombombom/devs/common/config/JpaConfiguration.java
  domain/src/main/java/com/bombombom/devs/study/model/AlgorithmProblemAssignment.java
  domain/src/main/java/com/bombombom/devs/study/model/AlgorithmProblemAssignmentSolveHistory.java
  domain/src/main/java/com/bombombom/devs/study/model/AlgorithmStudy.java
  domain/src/main/java/com/bombombom/devs/study/model/Round.java
  domain/src/main/java/com/bombombom/devs/study/model/Study.java
  domain/src/main/java/com/bombombom/devs/study/model/UserStudy.java
  domain/src/main/java/com/bombombom/devs/user/model/User.java
  domain/src/test/java/com/bombombom/devs/study/AlgorithmProblemAssignmentSolveHistoryTest.java
  domain/src/test/java/com/bombombom/devs/study/AlgorithmProblemAssignmentTest.java
  domain/src/test/java/com/bombombom/devs/study/RoundTest.java
Labels: ⚙️Build

#46 Feat: #BBB-111 알고리즘 스터디 진행 현황 조회 기능 구현
  app/external-api/src/main/java/com/bombombom/devs/external/study/controller/StudyController.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/controller/dto/response/AlgorithmStudyProgressResponse.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/controller/dto/response/BookStudyProgressResponse.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/controller/dto/response/StudyDetailsResponse.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/controller/dto/response/StudyProgressResponse.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/AlgorithmStudyService.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/BookStudyService.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/StudyProgressService.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/StudyService.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/AlgorithmProblemResult.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/AlgorithmProblemSolveHistoryResult.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/RoundResult.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/StudyDetailsResult.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/StudyProgressResult.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/progress/AlgorithmStudyProgress.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/progress/BookStudyProgress.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/dto/result/progress/StudyProgress.java
  app/external-api/src/main/java/com/bombombom/devs/external/study/service/factory/StudyServiceFactory.java
  domain/src/main/java/com/bombombom/devs/study/model/AlgorithmProblemAssignment.java
  domain/src/main/java/com/bombombom/devs/study/model/AlgorithmProblemAssignmentSolveHistory.java
  domain/src/main/java/com/bombombom/devs/study/model/Round.java
  domain/src/main/java/com/bombombom/devs/study/repository/AlgorithmProblemAssignmentRepository.java
  domain/src/main/java/com/bombombom/devs/study/repository/AlgorithmProblemAssignmentSolveHistoryRepository.java
  domain/src/main/java/com/bombombom/devs/study/repository/RoundRepository.java
  domain/src/main/java/com/bombombom/devs/study/repository/UserStudyRepository.java
  domain/src/test/java/com/bombombom/devs/study/AlgorithmProblemAssignmentSolveHistoryTest.java
  domain/src/test/java/com/bombombom/devs/study/AlgorithmProblemAssignmentTest.java
  domain/src/test/java/com/bombombom/devs/study/RoundTest.java
Labels: ✨Feat

#49 Test: #BBB-119 스터디 상세 정보 & 진행 현황 조회 테스트 코드 작성
  app/external-api/src/test/java/com/bombombom/devs/external/study/StudyIntegrationTest.java
  app/external-api/src/test/java/com/bombombom/devs/external/study/controller/StudyControllerTest.java
  app/external-api/src/test/java/com/bombombom/devs/external/study/service/StudyServiceFactoryTest.java
  app/external-api/src/test/java/com/bombombom/devs/external/study/service/StudyServiceTest.java
Labels: ✅Test
